/* App general styles
Note: BEM methodoogy for css sintax (block-element-modifier). ie: .select__option_selected */
body {
  margin: 0;
  padding: 0;
}

.app-style {
  font-family: $app-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $app-font-color;
  font-size: $app-font-size;
}
