/* Override Sweet-Modal styles */
//This rules overright css from dependencies: sweet-modal
.sweet-modal {
  border-radius: 0;
  width: 100%;
  max-width: 750px;
  background:$color-panels;

  .sweet-title {
    background:$color-light-white;
    border-bottom: 0;
    padding-top: 2%;
    padding-right: 0;
    padding-left: 0;

    h2 {
      font-weight: bold;
      text-align:center;
    }
  }

  .sweet-content {
    padding: {
      left: 2%;
      right: 2%;
      top: 1%;
      bottom: 3%;
    }
  }
}

.sweet-modal.is-visible {
  opacity: 0.9;
}

/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: $breakpoint-movilToTablet) {
  .sweet-modal {
    width: 80%;
    border-radius: 20px;
    max-width: 640px;
  }
}

/* Override Vuesax styles */
//This rules overright css from dependencies: vuesax
* {//Global
  box-sizing: content-box;
}
a, a:link, a:visited, a:focus, a:hover, a:active{
  color: $app-font-color;
  text-decoration:none; 
}

//modal
.con-vs-popup .vs-popup{
  font-family: $app-font;
  color: $app-font-color;
  width:275px;
}

.vuesax-app-is-ltr .vs-popup--content{
  width:auto;
}

//select
.vs-con-input-label{
  margin:auto;
}

.material-icons {
  font-size: 1rem;
}
.vs-dropdown--menu{
  border-radius: 15px;
  font-family: $app-font;
  color: $app-font-color;
  font-size: 0.8rem;
  background:$color-panels;
}
.vs-select--options{
  overflow: hidden;
}
//selects
.vs-select--label{
  color:$app-font-color;
}
.con-select{
  margin:auto;
}
.vuesax-app-is-ltr .vs-select--input{
  padding-right:0;
}
.vuesax-app-is-ltr .vs-select--options{
  top:60% !important;
}


.vs-select-primary{
  background-color: $color-light-white;
}
.vs-select--item{
  border-top:0;
  border-bottom:0;
}

/* Override Leaflet styles */
//This rules overright css from dependencies: Leaflet

//Hide tooltip in movil devices

@media (hover: none) {
  .leaflet-tooltip-pane { display: none; }
}

.easy-button-container{
  margin-top:7px !important;
}
.easy-button-button {
  width: 26px;
  height: 26px;
  line-height: 26px;
  border: 1px;
  border-radius: 4px;
  background-color: $color-light-white;
  &:hover {
    background-color: $color-light-grey
  }
}

.leaflet-control-layers{
  background-color: $color-light-white;
}
.leaflet-control-layers-base label {
  &:hover {
    cursor: pointer;
    background-color: $color-light-grey
  }
}

.leaflet-container{
  font-family: $app-font;
  color: $app-font-color;
}

.leaflet-control-layers-list {
  text-align: left;
}

.leaflet-control-layers-selector {
  &:hover {
    cursor: pointer;
    }
}
.leaflet-bar a{
  background-color: $color-light-white;
}

.leaflet-bar a:hover{
  background-color: $color-light-grey
}
.leaflet-bar a.leaflet-disabled{
  background: $color-grey;
}

.extra-marker i {
  margin-top: 0;
}

//legend 
.circle-dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
.custom-legend {
  display:flex;
  flex-direction: column;
  padding: 10px;
}
.item-legend{
  padding: 4px;
  text-align: left;
}

//Icon classes
.icon-sensors {
  width: 80%;
  height: 80%;

  &__Water {
    content: url("~@/assets/water.svg");
  }

  &__Forest {
    content: url("~@/assets/tree.svg");
  }

  &__Ecological {
    content: url("~@/assets/ecological.svg");
  }
}
